/** view animation **/
.ui-view-container {
  position: relative;
  /* transition: height 1s; */
}
.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
  transition: all 1s ease;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave-active {
  opacity: 0;
}

/* reset the material framework */
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 0;
    transform: none;
  }
}
.card-image {
  img {
    transition: transform 0.5s;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
.card .card-action a {
  margin: 0;
  text-transform: none;
}
.pagination li a {
  display: block;
}

/** customization **/
.img-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 65%;
  overflow: hidden;
}
.preloader {
  margin: 100px auto;
  width: 64px;
}
.artist {
  h1 {
    text-align: center;
  }
}
.avatar {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.16);
  margin: 30px auto;
  img {
    width: 100%;
  }
}
.avatar-small {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,.16);
  img {
    width: 100%;
  }
}
.similar-list {
  text-align: center;
  li {
    width: 20%;
    min-width: 100px;
    padding: 1%;
    display: inline-block;
    vertical-align: text-top;
  }
  span {
    text-align: center;
    color: #ee6e73;
    display: block;
    font-size: 14px;
    padding-top: 10px;
  }
}
.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  span {
    color: #fff;
    border-radius: 3px;
    margin: 2px;
    font-size: 12px;
    padding: 3px;
    i {
      vertical-align: middle;
    }
  }
}
