<div class="col s12 m6 l4" ng-repeat="artist in data">
  <a href="/artist/{{artist.name}}">
    <div class="card">
      <div class="card-image">
        <div class="img-wrapper">
          <img ng-src="{{artist.image[3]['#text']}}">
        </div>
        <span class="card-title">{{artist.name}}</span>
      </div>
    </div>
  </a>
</div>
