<ul class="pagination">
  <li ng-class="{disabled:!data.prevPage}">
    <a href="{{data.url}}{{data.prevPage}}">
      <i class="mdi-navigation-chevron-left"></i>
    </a>
  </li>
  <li ng-repeat="page in data.pageRange" ng-class="{active:page.selected,'waves-effect':!page.selected}">
    <a ng-href="{{data.url}}{{page.index}}">{{page.index}}</a>
  </li>

  <li ng-class="{disabled:!data.nextPage}">
    <a href="{{data.url}}{{data.nextPage}}">
      <i class="mdi-navigation-chevron-right"></i>
    </a>
  </li>
</ul>
