<ul class="similar-list">
  <li ng-repeat="ats in data">
    <a ng-href="/artist/{{ats.name}}">
      <div class="avatar-small">
        <img ng-src="{{ats.image[2]['#text']}}" alt="{{ats.name}}">
      </div>
      <span class="">{{ats.name}}</span>
    </a>
  </li>
</ul>
