<div class="container artist">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="avatar">
          <img ng-src="{{artist.data.image[3]['#text']}}">
        </div>
        <h1>
          {{artist.data.name}}
        </h1>
        <div class="tags">
          <span class="cyan lighten-2" ng-repeat="tag in artist.data.tags.tag"><i class="mdi-action-turned-in-not"></i>{{tag.name}}</span>
        </div>
        <div class="card-content">
        </div>
        <div class="card-action">
          <div class="row">
            <div id="about" class="col s12">
              <p ng-bind-html="artist.data.bio.content"></p>
            </div>
            <div id="similar" class="col s12">
              <similar-artist data="artist.data.similar.artist"></similar-artist>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
