<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="preloader" preloader ng-show="home.loading"></div>
    </div>
  </div>
  <div class="row" ng-hide="home.loading">
    <artist-list data="home.data.artist">
    </artist-list>
  </div>
  <div class="row" ng-hide="home.loading">
    <pagination data="home.pageInfo"></pagination>
  </div>
</div>
