<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="preloader" preloader ng-show="search.loading"></div>
    </div>
  </div>
  <div class="row" ng-hide="search.loading">
    <artist-list data="search.data.artistmatches.artist"></artist-list>
  </div>
  <div class="row" ng-hide="search.loading || search.nodata">
    <pagination data="search.pageInfo"></pagination>
  </div>
  <div class="row" ng-show="search.nodata">
    <p>No data</p>
  </div>
</div>
